* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;

}

.whole-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 32px;
}

.right-side{
    margin-right: 380px;
    text-align: center;
}

.registration1{
    border: 1px solid lightgray;
    width:360px;
    height: 420px;

}

.inputs{
    padding: 10px;
    background-color:#FAFAFA;
    color:#262626;
    border:1px solid #DBDBDB;
    width: 75%;
}


#enter{
    width: 75%;
    margin-top: 12px;
    background-color: #6ab6fd;
    color: white;
    border: 1px solid;
    height: 35px;
    border-radius: 7px;
    font-size: 13px;
}
#nomer{
    margin-bottom: 6px;
}

.inputs::placeholder{
    color:gray;
    font-size: 13px;
}

.registration2{
    display: flex;
    margin-top: 10px;
    border: 1px solid lightgray;
    width:360px;
    height: 65px;
    align-items: center;
}

#noacc{
    font-size: 14px;
    margin-left: 20px;
}
#registr{
    font-size: 14px;
    color:#0095F6;
    margin-left: 3px;

}

#instphones{
    width: 384px;
    height:606px;
    margin-left: 355px;
} 

#logo{
    font-family: 'Brush Script Mt';
    font-size: 53px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lineorline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.line {
    border: 0.5px solid #DBDBDB;
    width: 30%;
    margin: 10px; 
    margin-top: 1px;
}

#or {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
    margin-top: 10px;
}

.enterface{
    display: flex;
    align-items: center;
    justify-content: center;
}

#facicon{
    width:40px;
    height:40px;
}

#textfac{
    color:#0095F6;
    margin-top: 8px;
    font-size: 15px;
}

#forpassw{
    margin-top: 15px;
    color:#0069af;
    font-size: 14px;
}

.downloading{
    margin-top: 10px;
    display: block;

}

#downlapp{
    font-size: 14px;
}

#downloadimg{
    margin-top: 10px;
    width: 310px;
    height: 45px;
}

.footer{
    margin-top: 50px;
    color:gray;
    font-family: Arial;
    font-size: 12px;
    display: block;
    text-align: center;
}

#textinbot{
    margin-top: 20px;
}